<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 bg-blue-200 border-b border-b-blue-400">
  <nav class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">

      <!-- Logo / Nombre -->
      <a routerLink="/" (click)="scrollTop()" class="flex items-center gap-2 group">
        <div class="w-30 h-10 rounded-lg flex items-center justify-center transition-transform group-hover:scale-110">
          <img src="images/Logo.png">
        </div>
      </a>

      <!-- Menú derecho -->
      <div class="flex items-center gap-4">

        <!-- Si NO está autenticado -->
        <ng-container *ngIf="!isAuthenticated">
          <button (click)="navigateToLogin()"
            class="px-4 py-2 text-blue-800 font-medium hover:text-blue-600 transition-colors">
            Conectarse
          </button>
          <button (click)="navigateToRegistro()"
            class="px-4 py-2 bg-blue-800 text-white rounded-lg hover:bg-blue-600 transition-colors shadow-sm hover:shadow-md">
            Registrarse
          </button>
        </ng-container>

        <!-- Si está autenticado -->
        <ng-container *ngIf="isAuthenticated">
          <div class="flex items-center gap-3">

            <button (click)="handleLogout()"
              class="px-4 py-2 text-red-600 font-medium hover:bg-red-50 rounded-lg transition-colors">
              Desconectarse
            </button>
            <div class="flex items-center gap-2 px-3 py-2 bg-blue-50 rounded-lg">
              <div class="w-8 h-8 bg-blue-800 rounded-full flex items-center justify-center">
                <span class="text-xs font-bold text-white">{{ userName.charAt(0).toUpperCase() }}</span>
              </div>
              <span class="text-sm font-medium text-blue-900">{{ userName }}</span>
            </div>


          </div>
        </ng-container>

      </div>
    </div>
  </nav>
</header>

<!-- Spacer para que el contenido no quede debajo del navbar fijo -->
<div class="h-18"></div>